.checkbox-label-content input[type="checkbox"] {
    /* removing default appearance */
    -webkit-appearance: none;
    appearance: none;
    /* creating a custom design */
    width: 1.6em;
    height: 1.6em;
    border-radius: 0.15em;
    margin-right: 0.5em;
    border: 0.15em solid #FF1414;
    outline: none;
    cursor: pointer;
}

.checkbox-label-content input.checked {
    background-color: #FF1414;
    position: relative;
}

.checkbox-label-content input.checked::before {
    content: "\2714";
    font-size: 2em;
    border-radius: 50%;
    color: white;
    position: absolute;
    right: -2px;
    top: -7px;
}

.checkmark-item {
    color: #c5c5c5;
}